<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.electrical.myapplication">

    <application
        android:name=".ApplicationElectricianHandbook"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectricianHandbook">
        <activity android:name=".calculator.ShowCalculatorCategoryActivity"></activity>
        <activity android:name=".calculator.CalculatorActivity" />
        <activity android:name=".installation_of_wiring_in_house.InstallationOfWiringInHouseActivity" />
        <activity android:name=".theory.cable_and_wires.ShowCategoryCable" />
        <activity android:name=".theory.cable_and_wires.CableAndWiresActivity" />
        <activity android:name=".theory.protection_and_automation_devices.ShowCategoryProtectionAndAutomationDevicesActivity" />
        <activity android:name=".theory.protection_and_automation_devices.ProtectionAndAutomationDevicesActivity" />
        <activity android:name=".theory.lighting.ShowCategoryLighting" />
        <activity android:name=".theory.lighting.LightingActivity" />
        <activity android:name=".theory.electrical_measuring_instruments.ShowElectricalMeasuringInstrumentsActivity" />
        <activity android:name=".theory.electrical_measuring_instruments.ElectricalMeasuringInstrumentsActivity" />
        <activity android:name=".theory.short_circuit.ShortCircuitActivity" />
        <activity android:name=".table.fuse.Fuse" />
        <activity android:name=".table.selection_of_circuit_breaker.SelectionOfCircuitBreaker" />
        <activity android:name=".table.cable_cross_section.CableCrossSection" />
        <activity android:name=".theory.earthing_systems.ShowCategoryEarthingSystemsActivity" />
        <activity android:name=".table.TableActivity" />
        <activity android:name=".theory.earthing_systems.EarthingSystemsActivity" />
        <activity android:name=".schema.pass_through_switch.PassThroughSwitch" />
        <activity android:name=".schema.electric_breaker.ElectricBreaker" />
        <activity android:name=".schema.electrical_components.ElectricalComponents" />
        <activity android:name=".schema.electric_meter.ElectricMeter" />
        <activity android:name=".schema.magnetic_switch.MagneticSwitch" />
        <activity android:name=".theory.electromechanical_converters.ShowCategoryConverters" />
        <activity android:name=".theory.electromechanical_converters.ElectromechanicalConvertersActivity" />
        <activity android:name=".theory.sockets_and_plugs.SocketsAndPlugsActivity" />
        <activity android:name=".schema.standards.Standards" />
        <activity android:name=".theory.electrician_tools.ElectricianToolsActivity" />
        <activity android:name=".theory.ip_shield.IpShield" />
        <activity android:name=".schema.automatic_transfer_switch.AutomaticTransferSwitch" />
        <activity android:name=".theory.power_plants_and_substations.ShowCategorySubstationsActivity" />
        <activity android:name=".theory.power_plants_and_substations.Substations" />
        <activity android:name=".theory.serial_and_parallel_connection.SerialAndParallelConnectionActivity" />
        <activity android:name=".theory.laws_and_regulations.ShowCategoryLawsActivity" />
        <activity android:name=".theory.laws_and_regulations.LawsAndRegulations" />
        <activity android:name=".theory.basic_concepts.ShowCategoryBasicConceptsActivity" />
        <activity android:name=".theory.basic_concepts.BasicConcepts" />
        <activity android:name=".theory.TheoryActivity" />
        <activity android:name=".schema.SchemaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>