<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.electrical.myapplication">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectricianHandbook">
        <activity android:name=".schema.Standards.Standards" />
        <activity android:name=".theory.power_plants_and_substations.ShowCategorySubstationsActivity" />
        <activity android:name=".theory.power_plants_and_substations.Substations" />
        <activity android:name=".theory.serial_and_parallel_connection.SerialAndParallelConnectionActivity" />
        <activity android:name=".theory.laws_and_regulations.ShowCategoryLawsActivity" />
        <activity android:name=".theory.laws_and_regulations.LawsAndRegulations" />
        <activity android:name=".theory.basic_concepts.ShowCategoryBasicConceptsActivity" />
        <activity android:name=".theory.basic_concepts.BasicConcepts" />
        <activity android:name=".theory.TheoryActivity" />
        <activity android:name=".schema.SchemaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>